files/
MongoRaftReconfig_*Check.tla
MongoRaftReconfig_*Check.cfg
*_TautCheck_*.tla
MongoStaticRaftOther_*Check.tla
MongoStaticRaftOther_*Check.cfg
peterson_*Check.tla
peterson_*Check.cfg
TwoPhase_*Check.*
Paxos_*Check.*
SimpleElection_*Check.tla
SimpleElection_*Check.cfg
Bakery_*Check.tla
Bakery_*Check.cfg
consensus_wo_decide_*Check.tla
consensus_wo_decide_*Check.cfg
*_CTIGen.*
*_CTIQuickCheck.*
*_IndQuickCheck.*
*_InvCheck.tla
*_InvCheck.cfg
*_InvCheck_*.tla
*_InvCheck_*.cfg
*_CTIGen_*.tla
*_CTIGen_*.cfg
*_TautCheck.*
states_read
states.json
cti_quick_check_*.json
cppinvs/
invcheck_runner_*
gen_cpp/
cpp-invgen-iter*.invs
pregen*.invs
gen_tla
states/
*.tlaps/
*.toolbox/
__pycache__/
benchmarks.log
*.proofs.html
*.proof.html
.vscode/
_apalache-out/
apalache/
apalache-*/
apa_indcheck
*.proof.dot*
*_proof_with_status*
*.proof.dot*.pdf
*.proof.dot_nolabels*
*.proof.json
*.proof.pickle
*.svg
trace.json
benchmarks/*.xml
*.DS_Store
states2
*_TTrace_*
logout
*.log
apacheck_*.sh
*.out
*.bbl
*.gz
*.blg
*.fdb_latexmk
*.fls
*.vtc
*.aux
*IndDecompProof*
*ApaIndProofCheck*
*_proofstats.*
*.dot*.tex
logout_Zab
statecache*
subsumption_graphs/
*.chkpt
*pred_extract_test*
*extract_preds*
*lemma_parse*
discovery_data/
*proofgraph.json*
*_ind-proof-tree*sd*
*ind-proof-tree.pdf*
*ind-proof-tree