body{
    font-family: monospace;
    font-size:14px;
}
table{
    border-spacing: 3px;

}
table td {
    padding-right:10px;
    font-size:16px;
    min-width: 110px;
}

table td.ctis-remaining-count {
    padding-right:10px;
    font-size:16px;
    min-width: 230px;
}

table td:hover {
    cursor: pointer;
}

.proof-parent-cti-info {
    min-width:10px;
}

.gen-ctis-button{
    border:solid 1px gray;
    background-color: lightgray;
    text-align: center;
    font-size:14px;
    border-radius:4px;
    min-width:10px;
    padding-left:10px;
    padding-right:10px;
}

.proof-cti-grid-row {
    font-size:12px;
}

.proof-node-expr:hover {
    opacity: 0.5;
}

.cti-box {
    border:solid 1px gray;
    padding:8px;
    margin-top:10px;
    margin-bottom:10px;
    font-size:18px;
}

#stategraph{
    width:56%;
    height: 90%;
    border-right:solid 1px black;
    float:left;
}

#ctiPane{
    width:42%;
    float:left;
    height:90%;
    padding-left:1%;
}