body{
    font-family: monospace;
    font-size:16px;
}
table td {
    padding-right:10px;
    min-width:60px;
    font-size:16px;
}

table td:hover {
    cursor: pointer;
}

.proof-node-expr:hover {
    opacity: 0.5;
}

.cti-box {
    border:solid 1px gray;
    padding:5px;
    margin-top:10px;
    margin-bottom:10px;
}